<% include partials/header %>

<br><br>

<div class="container">
    <br>
    <form action="/search" method="POST" id="form">
        <div class="row">
            <div class="col-sm-8"> <div class="container heading"> <h2> Search Nearby Places </h2> </div></div>
            <div class="col-sm-4">
                <div class="ui action input">
                    <input type="text" placeholder="Search...">
                    <button class="ui icon button">
                        <i class="search icon"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<% if(results.err){ %>
<br>
<div class="alert alert-danger container text-center" role="alert">
    No response for your search query. Try Again Later or Search different tags.
</div>
<% } %>

<br>
<% if (results.places != undefined) { %>
<div class="container">
    <div class="row">
        <% results.places.forEach(function (place) { %>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <br>
            <div class="ui card">
                <div class="image mx-auto d-block">
                    <img src = <%= place.icon %> class="mx-auto d-block" id="icon">
                </div>
                <div class="content">
                    <a class="header" href=""><%= place.name %></a>
                    <div class="description">
                        <h6> Near By: </h6> <%= place.vicinity %>
                    </div>
                </div>
            </div>
        </div>
        <%})%>
    </div>
</div>
<% } %>

<% include partials/footer %>